// Charset =====================================================================
@charset "UTF-8";

// Normalize ===================================================================
@import "normalize";
@import "reset";
@import "extensions";
@import "functions";

// Variables ===================================================================
$black: #16161d;
$white: #fff;
$gray-900: mix($black, $white, 90%);
$gray-800: mix($black, $white, 80%);
$gray-700: mix($black, $white, 70%);
$gray-600: mix($black, $white, 60%);
$gray-500: mix($black, $white, 50%);
$gray-400: mix($black, $white, 40%);
$gray-300: mix($black, $white, 30%);
$gray-200: mix($black, $white, 20%);
$gray-100: mix($black, $white, 10%);
$gray-50: mix($black, $white, 5%);

$gray-700a: rgba($black, 0.75);
$gray-300a: rgba($black, 0.3);
$gray-100a: rgba($black, 0.1);

$gold: #e8c166;

$mobile: 44em;
$tablet: 44em;
$desktop: 66em;

:root {
	--large: 1.5rem;
	--padding: 1rem;
	--padding-small: 0.5em;
	--radius: 4px;
	--logo-size: 5rem;

	@media (min-width: $tablet) {
		--logo-size: 3rem;
	}
}

// Base Styles =================================================================
body {
	font-family: IBM Plex Mono, Monaco, monospace;
	font-size: 100%;
	line-height: 1.5;
	background: $black;
	color: $white;

	@media (min-width: $tablet) {
		padding-right: 50%;
	}

	@media (min-width: $desktop) {
		padding-left: calc(50% - 40em);
		padding-right: 50%;
	}
}

// Typography ============================================================================
h1 {
	display: inline-block;
	text-transform: uppercase;
	font-size: 2rem;
	border: thin solid;
	padding: 1rem;
	line-height: 1;
}
h2,
h3 {
	display: inline-block;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: 0.9em;
	color: $gold;
	border-bottom: 1px solid;
	margin-bottom: 1rem;
}

h3 {
	font-size: 0.9em;
}

p {
	font-size: 0.8em;
	margin-top: 1rem;
}

a {
	color: $white;

	&:hover {
		color: $gold;
	}
}

// Structural ============================================================================
section {
	border-top: thin solid $gray-900;
}

.page {
	opacity: 0;
	transition: opacity 0.5s 1s;

	.cover-photo-is-loaded & {
		opacity: 1;
	}
}

.container {
	position: relative;
	z-index: 10;
	padding: 2rem;
}

// Header ================================================================================
header {
	opacity: 0;
	transition: color 5s, opacity 0.5s;
	color: $gold;
	margin-bottom: -3.5em;

	.cover-photo-is-loaded & {
		opacity: 1;
		color: $white;
	}

	@media (min-width: $tablet) {
		margin-bottom: 0;
	}
}

.logo {
	display: flex;
}

.logo-icon {
	width: auto;
	height: var(--logo-size);
}

.logo-text {
	text-transform: uppercase;
	font-size: calc(var(--logo-size) / 2);
	line-height: calc(var(--logo-size) / 2);
	margin-left: calc(var(--logo-size) / 5);
}

// About Us ==============================================================================
.about-us {
	p {
		font-size: 1em;
	}
}

// Our Team ==============================================================================
.profile {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.sidebar {
	width: 8rem;
	margin-right: 2rem;

	a {
		text-decoration: none;
		font-size: 0.75em;

		span {
			text-decoration: underline;
			margin-right: 1ch;
		}
	}
}

.bio {
	flex: 1 0 15em;
}

.headshot {
	width: 100%;
	height: auto;
	vertical-align: top;
	margin-bottom: 1rem;
}

// Cover photo ===========================================================================
.cover-photo {
	position: relative;
	background-image: url("../img/bridge_color_contrast_1600x1600.jpg");
	background-size: cover;
	background-position: center center;
	height: 61.8vw;
	overflow: hidden;

	@media (min-width: $tablet) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		height: initial;
		z-index: -1;
	}
}

.pulse {
	$size: 100vw;
	position: absolute;
	width: $size;
	height: $size;
	margin: (-$size/2) 0 0 (-$size/2);

	&.pulse-a {
		top: 25%;
		left: 65%;
		transform: perspective(500px) rotateX(75deg) scale(0.6);

		@media (min-width: $tablet) {
			top: 35%;
		}

		.dot {
			background: rgba(adjust-hue($gold, -5deg), 0.5);
		}
	}
	&.pulse-b {
		top: 70%;
		left: 35%;
		transform: perspective(500px) rotateX(75deg);

		@media (min-width: $tablet) {
			top: 65%;
		}

		.dot {
			background: rgba($gold, 0.5);
		}
	}
}

.dot {
	$duration: 10s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	animation: grow $duration linear infinite both;

	@keyframes grow {
		from {
			transform: scale3d(0, 0, 0);
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		to {
			transform: scale3d(1, 1, 1);
			opacity: 0;
		}
	}

	$items: 5;

	@for $i from 1 through $items {
		&:nth-child(#{$i}) {
			animation-duration: $duration;
			animation-delay: $i/$items * $duration;
		}
	}
}

// Footer ================================================================================
footer {
	font-size: 0.8em;
	color: $gray-300;
	border-top: thin solid $gray-900;
	text-transform: uppercase;

	.container {
		padding: 1rem 2rem;
	}
}
